<body>

<div #wrapper class="wrapper">

    <navbar-component (overlayToggle)="onToggleOverlay($event)"></navbar-component>

    <!-- checkout-area start -->
    <div class="checkout-area ptb-45">
        <div class="container">
            <div class="row pt-40">
                <div class="col-lg-6 col-md-12 col-12">
                    <p style="margin-bottom: 30px; color:red; font-weight:bold;">Error Msg</p>
                    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                        <div class="checkbox-form">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>First Name <span class="required">*</span></label>
                                        <input formControlName="firstName" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input formControlName="lastName" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input formControlName="address" type="text" placeholder="Full address" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email Address <span class="required">*</span></label>
                                        <input formControlName="email" type="email" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Phone Number <span class="required">*</span></label>
                                        <input formControlName="phoneNumber" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Credit Card Number <span class="required">*</span></label>
                                        <input formControlName="ccn" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Owner of the Card <span class="required">*</span></label>
                                        <input formControlName="owner" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkout-form-list">
                                        <label>Month<span class="required">*</span></label>
                                        <input formControlName="month" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkout-form-list">
                                        <label>Year <span class="required">*</span></label>
                                        <input formControlName="year" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="checkout-form-list">
                                        <label>CVC<span class="required">*</span></label>
                                        <input formControlName="cvc" type="text" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let row of basketSummaryRows" class="cart_item">
                                    <td class="product-name">
                                        {{ row.productName }}
                                        <strong class="product-quantity"> × </strong>
                                        <strong class="product-quantity"> {{ row.quantity }} </strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount">$</span>
                                        <span class="amount"> {{ row.quantity * row.currentPrice }} </span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="order-total">
                                    <th><strong>Order Total</strong></th>
                                    <td><strong><span class="amount">$</span><span>{{basketTotal}}</span></strong>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="margin-top: 10px;"class="payment-method">
                            <div class="order-button-payment">
                                <input type="submit" value="Place order" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ptb-60"></div>

    <footer-component></footer-component>


</div>

</body>
